@model kuafor.Models.Calisan

<h2>Çalışan Ekle</h2>
<form asp-action="CalisanEkle" method="post">
    <div class="form-group">
        <label for="Ad">Ad</label>
        <input type="text" id="Ad" name="Ad" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Soyad">Soyad</label>
        <input type="text" id="Soyad" name="Soyad" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Hizmetler (Verilen Hizmetler)</label>
        @foreach (var hizmet in ViewBag.Hizmetler)
        {
            <div>
                <input type="checkbox" name="hizmetIds" value="@hizmet.HizmetId" />
                <label>@hizmet.HizmetAdi</label>
            </div>
        }
    </div>
     <div class="form-group">
        <label>Uzmanlık Alanı</label>
        @Html.DropDownList(
                 "uzmanlikHizmetId",
                 new SelectList(ViewBag.Hizmetler, "HizmetId", "HizmetAdi"),
                 "Uzmanlık alanını seçiniz",
                 new
                 {
                     @class = "form-control"
                 }
                 )
    </div>  
    <button type="submit" class="btn btn-success">Ekle</button>
</form>
